body {
  background-color: var(--russian-green);
}

footer, nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameBtn {
  border: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 3rem;
  font-size: 2rem;
  margin: 2rem;
  color: var(--pine-tree);
  background-color: var(--granny-smith-apple);
  cursor: pointer;
}

#hit {
  padding-left: 4.25rem;
  padding-right: 4.25rem;
}

.gameBtn:hover {
  box-shadow: 5px 5px 5px var(--pine-tree);
  background-color: rgb(165, 218, 164);
}

.total {
  border: none;
  padding: 2rem;
  border-radius: 3rem;
  font-size: 2rem;
  margin: 2rem;
  color: var(--pine-tree);
  background-color: var(--alice-blue);
}

.dealer {
  border-bottom: .5rem solid var(--alice-blue);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

article {
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 8px;
  margin: 1rem;
}

.resetBtn {
  color: var(--alice-blue);
  background-color: var(--russian-green);
  border-radius: 4px;
  border: none;
  box-shadow: 2px 3px 1px var(--pine-tree);
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  letter-spacing: 0.1em;
}

.resetBtn:hover {
  background-color: #9dbea0
}

.resetModal {
  display: block; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(26, 27, 37, 0.4);
  overflow-x: hidden;
}

.resetModalContent {
  background-color: var(--alice-blue);
  margin: 10% auto;
  padding: 30px;
  border: 1px solid var(--alice-blue);
  border-radius: 4px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}