#homeSection {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--granny-smith-apple);
  display: flex;
  justify-content: center;
  align-items: center;
}

#homeContent {
  background-color: var(--alice-blue);
  border-radius: 8px;
  box-shadow: 8px 8px 3px 1px var(--russian-green);
  padding: 30px;
  border: 1px solid var(--light);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#homeContent h1 {
  margin-bottom: .5rem;
  color: var(--raisin-black);
  font-size: 3rem;
  letter-spacing: 0.05em;
}

#homeContent span {
  color: var(--rose-madder);
}

#homeContent button {
  color: var(--alice-blue);
  background-color: var(--russian-green);
  border-radius: 4px;
  border: none;
  box-shadow: 2px 3px 1px var(--pine-tree);
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  letter-spacing: 0.1em;
}

#homeContent button:hover {
  background-color: #9dbea0
}

@media screen and (max-width: 1040px) {
  #homeContent {
    width: 80%;
  }
  #homeContent button {
    margin: 1.5rem;
  }
}

@media screen and (max-width: 720px) {
  #homeContent {
    width: 90%;
    height: 60%;
    justify-content: space-evenly;
  }
  #homeContent button {
    margin: .5rem;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 400px) {
  #homeContent {
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 8px 3px 1px var(--russian-green);
  }
}